<div class="bounds">
    <div class="inner-bounds">
        <div class="content">
            <h1 class="header">
                <span class="header-sub-wrapper"><span>#MY</span><span>PORTFOLIO</span></span>
                <mat-tab-group *ngIf="currentNavIndex == 1" #portfolio mat-align-tabs="end" [selectedIndex]="3" (selectedTabChange)="tabChanged($event)" style="margin-left: auto">
                    <mat-tab label="Frontend"></mat-tab>
                    <mat-tab label="Backend"></mat-tab>
                    <mat-tab label="Tool & App"></mat-tab>
                    <mat-tab label="All"></mat-tab>
                </mat-tab-group>
            </h1>

            <div class="main-content">
                <div class="topic-wrapper">
                    <div *ngFor="let pair of listProjects$ | async" class="topic-container-row">
                        <app-portfolio-item [project]="pair[0]" class="topic-container-left"></app-portfolio-item>
                        <app-portfolio-item [project]="pair[1]" class="topic-container-right"></app-portfolio-item>
                    </div>
                </div>
            </div>
            <div class="footer">
                <div id="footer-contact">
                    <div id="m-icon">
                        <a class="m-icon gmail" href="https://mail.google.com/mail/?view=cm&fs=1&to=nhvu.95@gmail.com&su=HOW%20CAN%20I%20HELP%20U%3F" target="_blank" style="cursor: pointer"></a>
                    </div>
                    <div id="m-contact" style="cursor: pointer">
                        <h3><span class="fname">VU HIEU</span><span class="sname"> NGUYEN</span></h3>
                        <h3 class="email">nhvu.95@gmail.com</h3>
                    </div>
                </div>
                <div id="footer-download-cv">
                    <div
                        class="download"
                        onclick="window.open(
                        'https://drive.google.com/file/d/1sNJLiX9THvwkWe3FFBDrOJPMWuLw9ykW/view?usp=sharing',
                        '_blank'
                      );"
                        style="cursor: pointer"></div>
                </div>
            </div>
        </div>
    </div>
</div>
