@import "styles/global-var.scss";

.bounds {
    .main-content {
        .image-container {
            display: flex;
            flex: 1 1 100%;
            height: 100%;
            width: 100%;
            max-width: 30%;
            flex-direction: column;
            margin-left: 30px;
            margin-right: 30px;

            .ava {
                margin-bottom: 2rem;
                .ava-container {
                    width: 100%;
                    height: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    .avatar {
                        border-radius: 50%;
                        background-color: rgba(196.00000351667404, 196.00000351667404, 196.00000351667404, 1);
                        width: 300px;
                        height: 300px;
                        border: 3px solid $main-color;
                        background-image: url("https://scontent.fhan14-2.fna.fbcdn.net/v/t1.6435-9/139663994_2740155776249913_4875674446048621486_n.jpg?_nc_cat=111&ccb=1-5&_nc_sid=09cbfe&_nc_ohc=ftkX2cvVE-wAX_TR7N_&tn=2nvC_Nrx0Gp4vWzc&_nc_ht=scontent.fhan14-2.fna&oh=ee1997af12d081058dc40f6f714fb20f&oe=61542B62");
                        background-repeat: no-repeat;
                        background-size: cover;
                    }
                }
            }

            .name {
                .first-name {
                    color: $main-color !important;
                }
                h2 {
                    font-weight: 400;
                }
                .role {
                    font-weight: 300;
                }
                text-align: center;
            }

            .icon-container {
                display: flex;
                flex-direction: row;
                flex: 1 1 100%;
                justify-content: center;
                // The icon bellow avatar
                > div > div {
                    width: 50px;
                    min-width: 50px;
                    height: 50px;
                    min-height: 50px;
                    margin: 10px;
                }
            }
        }
    }
}

@media screen and (max-width: 1279px) {
    .main-content {
        .image-container {
            max-width: 100% !important;
        }
      
    }
}
