@import "styles/global-var.scss";

.topic-container {
    background-image: $bg_topic_img;
    background-size: cover;
    background-position: center;
    // min-height: 280px;
    margin-bottom: 18px;
    border: 1px solid $main-color2;
    border-radius: 10px;
    overflow: hidden;
}

.topic-image {
    width: 100%;
    height: 250px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-right: 10px;
}

.topic {
    width: calc(100% - 40px);
    padding: 10px 20px;
    background-color: $bg_overlay;

    .title {
        font-size: 30px;
        font-weight: 500;
        line-height: 1;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
    }
    .title2line {
        -webkit-line-clamp: 2;
    }
    .tags {
        line-height: 1;
        margin-top: 5px;
        .tag-item {
            display: inline-block;
            background-color: #bee9c9;
            margin-right: 5px;
            border-radius: 5px;
            padding: 5px;
            min-width: 40px;
            text-align: center;
        }
        a {
            text-decoration: none;
        }
        a:hover {
            color: $main-color2 !important;
        }
    }
    .description {
        margin-top: 5px;
        margin-bottom: 0px;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
    }
    .topic-footer {
        margin-top: 10px;
        text-align: right;
        display: flex;
        .date {
            margin-right: auto;
            font-size: small;
        }
        .topic-link {
            a {
                color: $main-color !important;
                margin-right: 10px;
            }
            a:hover {
                color: $main-color2 !important;
            }
        }
    }
}

.topic-container-xs {
    margin-right: 0px;
    margin-left: 0px;

    .topic {
        padding-right: 10px;
    }
    .topic .title {
        font-size: 24px;
    }
}
