<mat-tab-group mat-align-tabs="center" dynamicHeight (selectedTabChange)="tabChanged($event)">
    <mat-tab label="ABOUT ME"></mat-tab>
    <mat-tab label="PORTFOLIO"></mat-tab>
    <mat-tab label="AFTER WORK"></mat-tab>
</mat-tab-group>
<div class="bounds" id="not-found">
    <div class="content"   >
        <h1  class="header">
            <span>#PAGE </span><span>NOT FOUND</span>
        </h1>
        <div  class="content" >
            <div style="justify-content: center; height: 100%; margin-top: auto" >
                <div class="not-found"></div>
                <h1 class="e404">404</h1>
            </div>
            <a style="text-align: center;margin-bottom: auto; margin-top: 20px; font-style: italic; text-decoration: underline; font-size: 20px;"
                class="main-color" href="/">Back to homepage</a>
        </div>
        <div   class="footer"  >
            <div class="icon-container" id="footer-contact"  
                >
                <div >
                    <a class="gmail"
                        href="https://mail.google.com/mail/?view=cm&fs=1&to=nhvu.95@gmail.com&su=HOW%20CAN%20I%20HELP%20U%3F"
                        target="_blank"></a>
                </div>
                <div >
                    <h3><span>VU HIEU</span><span> NGUYEN</span></h3>
                    <h3>nhvu.95@gmail.com</h3>
                </div>
            </div>
            <div   style="justify-content: flex-end;"
                >
                <div class="download">
                </div>
            </div>
        </div>
    </div>