@import "styles/global-var.scss";

#blog-post{
  .inner-bounds{
    padding: 0px;
  }
  .header-image{
    height: auto;
    width: 100%;
    display: block;
    margin-bottom: 3rem;
    overflow: hidden;
    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }
}

img[src$="centerme"] {
  display:block;
  margin: 0 auto;
}

.bounds {
  .inner-bounds{
    width: 100%;
    .content{
      margin-bottom: 40px;
    }
  }
  .header {
    // margin-bottom: 2rem !important;
    font-weight: 500 !important;

    max-width: 1000px;
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
  }

  .main-content {
    max-width: 1000px;
    width: 1000px;
    margin-top: 0px;
    margin-bottom: 50px;
    max-height: fit-content;

    > div {
      justify-content: center;
      width: 100%;
    }
  }

  h3.author {
    font-size: 25px;
    font-weight: 600;
    .sur-name {
      font-weight: lighter;
    }
  }
}

@media screen and (max-width: 1279px) {
  .bounds {
    flex-direction: column;
  }
  .header {
    max-width: 80% !important;
  }
  .main-content {
    max-width: 80% !important;
    .author {
      text-align: center;
    }
    .yellow-line {
      width: 100% !important;
    }
  }
}
@media screen and (max-width: 539px) {
  .header {
    max-width: 95% !important;
  }
  .header-sub-wrapper {
    display: flex;
    flex: 1 1 100%;
    flex-direction: column;
    font-size: 3rem;
  }
  .main-content {
    max-width: 95% !important;
    .post-date,
    .post-thank {
      text-align: center !important;
    }
  }

  #mainTab {
    ::ng-deep .mat-tab-label {
        padding: 0 16px;
    }
}
}