<mat-tab-group id="mainTab" mat-align-tabs="center" dynamicHeight [(selectedIndex)]="activeTabIndex" (click)="onTabGroupClicked()">
    <mat-tab label="ABOUT ME"></mat-tab>
    <mat-tab label="PORTFOLIO"></mat-tab>
    <mat-tab label="AFTER WORK"></mat-tab>
</mat-tab-group>
<div class="bounds" id="blog-post">
    <div class="inner-bounds">
        <div class="header-image">
            <img [src]="headerImage$ | async" loading="lazy" />
        </div>
        <div class="content">
            <h1 class="header">
                <span class="header-sub-wrapper"
                    ><span>{{ title1 | async }}</span
                    ><span>{{ title2 | async }}</span></span
                >
            </h1>
            <div class="main-content markdown-body">
                <div>
                    <div>
                        <h3 class="author"><span>VU HIEU</span><span class="sur-name"> NGUYEN</span></h3>
                        <div style="width: 50px; height: 20px; border-bottom: 3px solid #f29e03; margin-bottom: 50px" class="yellow-line"></div>
                        <div style="min-height: 350px">
                            <scully-content></scully-content>
                        </div>
                        <div class="post-date" style="text-align: right">{{location$ | async}} - {{ endDate$ | async }}</div>
                        <div class="post-thank" style="text-align: right; font-style: italic">Thank for reading!</div>
                    </div>
                    <div></div>
                </div>
            </div>
            <div class="footer">
                <div id="footer-contact">
                    <div id="m-icon">
                        <a class="m-icon gmail" href="https://mail.google.com/mail/?view=cm&fs=1&to=nhvu.95@gmail.com&su=HOW%20CAN%20I%20HELP%20U%3F" target="_blank" style="cursor: pointer"></a>
                    </div>
                    <div id="m-contact" style="cursor: pointer">
                        <h3><span class="fname">VU HIEU</span><span class="sname"> NGUYEN</span></h3>
                        <h3 class="email">nhvu.95@gmail.com</h3>
                    </div>
                </div>
                <div id="footer-download-cv">
                    <div
                        class="download"
                        onclick="window.open(
                        'https://drive.google.com/file/d/1sNJLiX9THvwkWe3FFBDrOJPMWuLw9ykW/view?usp=sharing',
                        '_blank'
                      );"
                        style="cursor: pointer"></div>
                </div>
            </div>
        </div>
    </div>
</div>
