/* include CSS for prism toolbar */
@import "~prismjs/plugins/toolbar/prism-toolbar.css";
/* check node_modules/prismjs/themes/ for the available themes */

.markdown-body {
    -ms-text-size-adjust: 100% !important;
    -webkit-text-size-adjust: 100% !important;
    margin: auto !important;
    color: #24292f !important;
    // background-color: #ffffff !important;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji"  !important;
    font-size: 16px !important;
    line-height: 1.5 !important;
    word-wrap: break-word !important;
}

.markdown-body .octicon {
    display: inline-block !important;
    fill: currentColor !important;
    vertical-align: text-bottom !important;
}

.markdown-body h1:hover .anchor .octicon-link:before,
.markdown-body h2:hover .anchor .octicon-link:before,
.markdown-body h3:hover .anchor .octicon-link:before,
.markdown-body h4:hover .anchor .octicon-link:before,
.markdown-body h5:hover .anchor .octicon-link:before,
.markdown-body h6:hover .anchor .octicon-link:before {
    width: 16px !important;
    height: 16px !important;
    content: " " !important;
    display: inline-block !important;
    background-color: currentColor !important;
    -webkit-mask-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' version='1.1' aria-hidden='true'><path fill-rule='evenodd' d='M7.775 3.275a.75.75 0 001.06 1.06l1.25-1.25a2 2 0 112.83 2.83l-2.5 2.5a2 2 0 01-2.83 0 .75.75 0 00-1.06 1.06 3.5 3.5 0 004.95 0l2.5-2.5a3.5 3.5 0 00-4.95-4.95l-1.25 1.25zm-4.69 9.64a2 2 0 010-2.83l2.5-2.5a2 2 0 012.83 0 .75.75 0 001.06-1.06 3.5 3.5 0 00-4.95 0l-2.5 2.5a3.5 3.5 0 004.95 4.95l1.25-1.25a.75.75 0 00-1.06-1.06l-1.25 1.25a2 2 0 01-2.83 0z'></path></svg>") !important;
    mask-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' version='1.1' aria-hidden='true'><path fill-rule='evenodd' d='M7.775 3.275a.75.75 0 001.06 1.06l1.25-1.25a2 2 0 112.83 2.83l-2.5 2.5a2 2 0 01-2.83 0 .75.75 0 00-1.06 1.06 3.5 3.5 0 004.95 0l2.5-2.5a3.5 3.5 0 00-4.95-4.95l-1.25 1.25zm-4.69 9.64a2 2 0 010-2.83l2.5-2.5a2 2 0 012.83 0 .75.75 0 001.06-1.06 3.5 3.5 0 00-4.95 0l-2.5 2.5a3.5 3.5 0 004.95 4.95l1.25-1.25a.75.75 0 00-1.06-1.06l-1.25 1.25a2 2 0 01-2.83 0z'></path></svg>") !important;
}

.markdown-body details,
.markdown-body figcaption,
.markdown-body figure {
    display: block !important;
}

.markdown-body summary {
    display: list-item !important;
}

.markdown-body [hidden] {
    display: none  !important;
}

.markdown-body a {
    background-color: transparent !important;
    color: #0969da !important;
    text-decoration: none !important;
}
.markdown-body a * {
    color: #0969da !important;
}

.markdown-body a:active,
.markdown-body a:hover {
    outline-width: 0 !important;
}

.markdown-body abbr[title] {
    border-bottom: none !important;
    text-decoration: underline dotted !important;
}

.markdown-body b,
.markdown-body strong {
    font-weight: 600 !important;
}

.markdown-body dfn {
    font-style: italic !important;
}

.markdown-body h1 {
    margin: 0.67em 0 !important;
    font-weight: 600 !important;
    padding-bottom: 0.3em !important;
    font-size: 2em !important;
    border-bottom: 1px solid hsla(210, 18%, 87%, 1) !important;
}

.markdown-body mark {
    background-color: #fff8c5 !important;
    color: #24292f !important;
}

.markdown-body small {
    font-size: 90% !important;
}

.markdown-body sub,
.markdown-body sup {
    font-size: 75% !important;
    line-height: 0 !important;
    position: relative !important;
    vertical-align: baseline !important;
}

.markdown-body sub {
    bottom: -0.25em !important;
}

.markdown-body sup {
    top: -0.5em !important;
}

.markdown-body img {
    border-style: none !important;
    max-width: 100% !important;
    box-sizing: content-box !important;
    background-color: #ffffff !important;
}

.markdown-body code,
.markdown-body kbd,
.markdown-body pre,
.markdown-body samp {
    font-family: monospace, monospace !important;
    font-size: 1em !important;
}

.markdown-body figure {
    margin: 1em 40px !important;
}

.markdown-body hr {
    box-sizing: content-box !important;
    overflow: hidden !important;
    background: transparent !important;
    border-bottom: 1px solid hsla(210, 18%, 87%, 1) !important;
    height: 0.25em !important;
    padding: 0 !important;
    margin: 24px 0 !important;
    background-color: #d0d7de !important;
    border: 0 !important;
}

.markdown-body input {
    font: inherit !important;
    margin: 0 !important;
    overflow: visible !important;
    font-family: inherit !important;
    font-size: inherit !important;
    line-height: inherit !important;
}

.markdown-body [type="button"],
.markdown-body [type="reset"],
.markdown-body [type="submit"] {
    -webkit-appearance: button !important;
}

.markdown-body [type="button"]::-moz-focus-inner,
.markdown-body [type="reset"]::-moz-focus-inner,
.markdown-body [type="submit"]::-moz-focus-inner {
    border-style: none !important;
    padding: 0 !important;
}

.markdown-body [type="button"]:-moz-focusring,
.markdown-body [type="reset"]:-moz-focusring,
.markdown-body [type="submit"]:-moz-focusring {
    outline: 1px dotted ButtonText !important;
}

.markdown-body [type="checkbox"],
.markdown-body [type="radio"] {
    box-sizing: border-box !important;
    padding: 0 !important;
}

.markdown-body [type="number"]::-webkit-inner-spin-button,
.markdown-body [type="number"]::-webkit-outer-spin-button {
    height: auto !important;
}

.markdown-body [type="search"] {
    -webkit-appearance: textfield !important;
    outline-offset: -2px !important;
}

.markdown-body [type="search"]::-webkit-search-cancel-button,
.markdown-body [type="search"]::-webkit-search-decoration {
    -webkit-appearance: none !important;
}

.markdown-body ::-webkit-input-placeholder {
    color: inherit !important;
    opacity: 0.54 !important;
}

.markdown-body ::-webkit-file-upload-button {
    -webkit-appearance: button !important;
    font: inherit !important;
}

.markdown-body a:hover {
    text-decoration: underline !important;
}

.markdown-body hr::before {
    display: table !important;
    content: "" !important;
}

.markdown-body hr::after {
    display: table !important;
    clear: both !important;
    content: "" !important;
}

.markdown-body table {
    border-spacing: 0 !important;
    border-collapse: collapse !important;
    display: block !important;
    width: max-content !important;
    max-width: 100% !important;
    overflow: auto !important;
}

.markdown-body td,
.markdown-body th {
    padding: 0 !important;
}

.markdown-body details summary {
    cursor: pointer !important;
}

.markdown-body details:not([open]) > *:not(summary) {
    display: none  !important;
}

.markdown-body kbd {
    display: inline-block !important;
    padding: 3px 5px !important;
    font: 11px ui-monospace, SFMono-Regular, SF Mono, Menlo, Consolas, Liberation Mono, monospace !important;
    line-height: 10px !important;
    color: #24292f !important;
    vertical-align: middle !important;
    background-color: #f6f8fa !important;
    border: solid 1px rgba(175, 184, 193, 0.2) !important;
    border-bottom-color: rgba(175, 184, 193, 0.2) !important;
    border-radius: 6px !important;
    box-shadow: inset 0 -1px 0 rgba(175, 184, 193, 0.2) !important;
}

.markdown-body h1,
.markdown-body h2,
.markdown-body h3,
.markdown-body h4,
.markdown-body h5,
.markdown-body h6 {
    margin-top: 24px !important;
    margin-bottom: 16px !important;
    font-weight: 600 !important;
    line-height: 1.25 !important;
}

.markdown-body h2 {
    font-weight: 600 !important;
    padding-bottom: 0.3em !important;
    font-size: 1.5em !important;
    border-bottom: 1px solid hsla(210, 18%, 87%, 1) !important;
}

.markdown-body h3 {
    font-weight: 600 !important;
    font-size: 1.25em !important;
}

.markdown-body h4 {
    font-weight: 600 !important;
    font-size: 1em !important;
}

.markdown-body h5 {
    font-weight: 600 !important;
    font-size: 0.875em !important;
}

.markdown-body h6 {
    font-weight: 600 !important;
    font-size: 0.85em !important;
    color: #57606a !important;
}

.markdown-body p {
    margin-top: 0 !important;
    margin-bottom: 10px !important;
}

.markdown-body blockquote {
    margin: 0 !important;
    padding: 0 1em !important;
    color: #57606a !important;
    border-left: 0.25em solid #f29e03 !important;
	border-bottom: 1px solid #f29e03 !important;
	border-top: 1px solid #f29e03 !important;
	border-right: 1px solid #f29e03 !important;
	border-radius: 2px !important;

    background-color: #ffffff !important;
}

.markdown-body ul,
.markdown-body ol {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    padding-left: 2em !important;
}

.markdown-body ol ol,
.markdown-body ul ol {
    list-style-type: lower-roman !important;
}

.markdown-body ul ul ol,
.markdown-body ul ol ol,
.markdown-body ol ul ol,
.markdown-body ol ol ol {
    list-style-type: lower-alpha !important;
}

.markdown-body dd {
    margin-left: 0 !important;
}

.markdown-body tt,
.markdown-body code {
    font-family: ui-monospace, SFMono-Regular, SF Mono, Menlo, Consolas, Liberation Mono, monospace !important;
    font-size: 12px !important;
}

.markdown-body pre {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    font-family: ui-monospace, SFMono-Regular, SF Mono, Menlo, Consolas, Liberation Mono, monospace !important;
    font-size: 12px !important;
    word-wrap: normal !important;
}

.markdown-body .octicon {
    display: inline-block !important;
    overflow: visible  !important;
    vertical-align: text-bottom !important;
    fill: currentColor !important;
}

.markdown-body ::placeholder {
    color: #6e7781 !important;
    opacity: 1 !important;
}

.markdown-body input::-webkit-outer-spin-button,
.markdown-body input::-webkit-inner-spin-button {
    margin: 0 !important;
    -webkit-appearance: none !important;
    appearance: none !important;
}

.markdown-body .pl-c {
    color: #6e7781 !important;
}

.markdown-body .pl-c1,
.markdown-body .pl-s .pl-v {
    color: #0550ae !important;
}

.markdown-body .pl-e,
.markdown-body .pl-en {
    color: #8250df !important;
}

.markdown-body .pl-smi,
.markdown-body .pl-s .pl-s1 {
    color: #24292f !important;
}

.markdown-body .pl-ent {
    color: #116329 !important;
}

.markdown-body .pl-k {
    color: #cf222e !important;
}

.markdown-body .pl-s,
.markdown-body .pl-pds,
.markdown-body .pl-s .pl-pse .pl-s1,
.markdown-body .pl-sr,
.markdown-body .pl-sr .pl-cce,
.markdown-body .pl-sr .pl-sre,
.markdown-body .pl-sr .pl-sra {
    color: #0a3069 !important;
}

.markdown-body .pl-v,
.markdown-body .pl-smw {
    color: #953800 !important;
}

.markdown-body .pl-bu {
    color: #82071e !important;
}

.markdown-body .pl-ii {
    color: #f6f8fa !important;
    background-color: #82071e !important;
}

.markdown-body .pl-c2 {
    color: #f6f8fa !important;
    background-color: #cf222e !important;
}

.markdown-body .pl-sr .pl-cce {
    font-weight: bold !important;
    color: #116329 !important;
}

.markdown-body .pl-ml {
    color: #3b2300 !important;
}

.markdown-body .pl-mh,
.markdown-body .pl-mh .pl-en,
.markdown-body .pl-ms {
    font-weight: bold !important;
    color: #0550ae !important;
}

.markdown-body .pl-mi {
    font-style: italic !important;
    color: #24292f !important;
}

.markdown-body .pl-mb {
    font-weight: bold !important;
    color: #24292f !important;
}

.markdown-body .pl-md {
    color: #82071e !important;
    background-color: #ffebe9 !important;
}

.markdown-body .pl-mi1 {
    color: #116329 !important;
    background-color: #dafbe1 !important;
}

.markdown-body .pl-mc {
    color: #953800 !important;
    background-color: #ffd8b5 !important;
}

.markdown-body .pl-mi2 {
    color: #eaeef2 !important;
    background-color: #0550ae !important;
}

.markdown-body .pl-mdr {
    font-weight: bold !important;
    color: #8250df !important;
}

.markdown-body .pl-ba {
    color: #57606a !important;
}

.markdown-body .pl-sg {
    color: #8c959f !important;
}

.markdown-body .pl-corl {
    text-decoration: underline !important;
    color: #0a3069 !important;
}

.markdown-body [data-catalyst] {
    display: block !important;
}

.markdown-body g-emoji {
    font-family: "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !important;
    font-size: 1em !important;
    font-style: normal  !important;
    font-weight: 400 !important;
    line-height: 1 !important;
    vertical-align: -0.075em !important;
}

.markdown-body g-emoji img {
    width: 1em !important;
    height: 1em !important;
}

.markdown-body::before {
    display: table !important;
    content: "" !important;
}

.markdown-body::after {
    display: table !important;
    clear: both !important;
    content: "" !important;
}

.markdown-body > *:first-child {
    margin-top: 0  !important;
}

.markdown-body > *:last-child {
    margin-bottom: 0  !important;
}

.markdown-body a:not([href]) {
    color: inherit !important;
    text-decoration: none !important;
}

.markdown-body .absent {
    color: #cf222e !important;
}

.markdown-body .anchor {
    float: left !important;
    padding-right: 4px !important;
    margin-left: -20px !important;
    line-height: 1 !important;
}

.markdown-body .anchor:focus {
    outline: none !important;
}

.markdown-body p,
.markdown-body blockquote,
.markdown-body ul,
.markdown-body ol,
.markdown-body dl,
.markdown-body table,
.markdown-body pre,
.markdown-body details {
    margin-top: 0 !important;
    margin-bottom: 16px !important;
}

.markdown-body blockquote > :first-child {
    margin-top: 0 !important;
}

.markdown-body blockquote > :last-child {
    margin-bottom: 0 !important;
}

.markdown-body sup > a::before {
    content: "[" !important;
}

.markdown-body sup > a::after {
    content: "]" !important;
}

.markdown-body h1 .octicon-link,
.markdown-body h2 .octicon-link,
.markdown-body h3 .octicon-link,
.markdown-body h4 .octicon-link,
.markdown-body h5 .octicon-link,
.markdown-body h6 .octicon-link {
    color: #24292f !important;
    vertical-align: middle !important;
    visibility: hidden !important;
}

.markdown-body h1:hover .anchor,
.markdown-body h2:hover .anchor,
.markdown-body h3:hover .anchor,
.markdown-body h4:hover .anchor,
.markdown-body h5:hover .anchor,
.markdown-body h6:hover .anchor {
    text-decoration: none !important;
}

.markdown-body h1:hover .anchor .octicon-link,
.markdown-body h2:hover .anchor .octicon-link,
.markdown-body h3:hover .anchor .octicon-link,
.markdown-body h4:hover .anchor .octicon-link,
.markdown-body h5:hover .anchor .octicon-link,
.markdown-body h6:hover .anchor .octicon-link {
    visibility: visible !important;
}

.markdown-body h1 tt,
.markdown-body h1 code,
.markdown-body h2 tt,
.markdown-body h2 code,
.markdown-body h3 tt,
.markdown-body h3 code,
.markdown-body h4 tt,
.markdown-body h4 code,
.markdown-body h5 tt,
.markdown-body h5 code,
.markdown-body h6 tt,
.markdown-body h6 code {
    padding: 0 0.2em !important;
    font-size: inherit !important;
}

.markdown-body ul.no-list,
.markdown-body ol.no-list {
    padding: 0 !important;
    list-style-type: none !important;
}

.markdown-body ol[type="1"] {
    list-style-type: decimal !important;
}

.markdown-body ol[type="a"] {
    list-style-type: lower-alpha !important;
}

.markdown-body ol[type="i"] {
    list-style-type: lower-roman !important;
}

.markdown-body div > ol:not([type]) {
    list-style-type: decimal !important;
}

.markdown-body ul ul,
.markdown-body ul ol,
.markdown-body ol ol,
.markdown-body ol ul {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}

.markdown-body li > p {
    margin-top: 16px !important;
}

.markdown-body li + li {
    margin-top: 0.25em !important;
}

.markdown-body dl {
    padding: 0 !important;
}

.markdown-body dl dt {
    padding: 0 !important;
    margin-top: 16px !important;
    font-size: 1em !important;
    font-style: italic !important;
    font-weight: 600 !important;
}

.markdown-body dl dd {
    padding: 0 16px !important;
    margin-bottom: 16px !important;
}

.markdown-body table th {
    font-weight: 600 !important;
}

.markdown-body table th,
.markdown-body table td {
    padding: 6px 13px !important;
    border: 1px solid #d0d7de !important;
}

.markdown-body table tr {
    background-color: #ffffff !important;
    border-top: 1px solid hsla(210, 18%, 87%, 1) !important;
}

.markdown-body table tr:nth-child(2n) {
    background-color: #f6f8fa !important;
}

.markdown-body table img {
    background-color: transparent !important;
}

.markdown-body img[align="right"] {
    padding-left: 20px !important;
}

.markdown-body img[align="left"] {
    padding-right: 20px !important;
}

.markdown-body .emoji {
    max-width: none !important;
    vertical-align: text-top !important;
    background-color: transparent !important;
}

.markdown-body span.frame {
    display: block !important;
    overflow: hidden !important;
}

.markdown-body span.frame > span {
    display: block !important;
    float: left !important;
    width: auto !important;
    padding: 7px !important;
    margin: 13px 0 0 !important;
    overflow: hidden !important;
    border: 1px solid #d0d7de !important;
}

.markdown-body span.frame span img {
    display: block !important;
    float: left !important;
}

.markdown-body span.frame span span {
    display: block !important;
    padding: 5px 0 0 !important;
    clear: both !important;
    color: #24292f !important;
}

.markdown-body span.align-center {
    display: block !important;
    overflow: hidden !important;
    clear: both !important;
}

.markdown-body span.align-center > span {
    display: block !important;
    margin: 13px auto 0 !important;
    overflow: hidden !important;
    text-align: center !important;
}

.markdown-body span.align-center span img {
    margin: 0 auto !important;
    text-align: center !important;
}

.markdown-body span.align-right {
    display: block !important;
    overflow: hidden !important;
    clear: both !important;
}

.markdown-body span.align-right > span {
    display: block !important;
    margin: 13px 0 0 !important;
    overflow: hidden !important;
    text-align: right !important;
}

.markdown-body span.align-right span img {
    margin: 0 !important;
    text-align: right !important;
}

.markdown-body span.float-left {
    display: block !important;
    float: left !important;
    margin-right: 13px !important;
    overflow: hidden !important;
}

.markdown-body span.float-left span {
    margin: 13px 0 0 !important;
}

.markdown-body span.float-right {
    display: block !important;
    float: right !important;
    margin-left: 13px !important;
    overflow: hidden !important;
}

.markdown-body span.float-right > span {
    display: block !important;
    margin: 13px auto 0 !important;
    overflow: hidden !important;
    text-align: right !important;
}

.markdown-body code,
.markdown-body tt {
    padding: 0.2em 0.4em !important;
    margin: 0 !important;
    font-size: 85% !important;
    background-color: rgba(175, 184, 193, 0.36) !important;
	border-radius: 2px !important;
}

.markdown-body code br,
.markdown-body tt br {
    display: none !important;
}

.markdown-body del code {
    text-decoration: inherit !important;
}

.markdown-body pre code {
    font-size: 100% !important;
}

.markdown-body pre > code {
    padding: 0 !important;
    margin: 0 !important;
    word-break: normal !important;
    white-space: pre !important;
    background: transparent !important;
    border: 0 !important;
}

.markdown-body .highlight {
    margin-bottom: 16px !important;
}

.markdown-body .highlight pre {
    margin-bottom: 0 !important;
    word-break: normal !important;
}

.markdown-body .highlight pre,
.markdown-body pre {
    padding: 16px !important;
    overflow: auto !important;
    font-size: 85% !important;
    line-height: 1.45 !important;
    background-color: #f6f8fa !important;
    border-radius: 2px !important;
}

.markdown-body pre code,
.markdown-body pre tt {
    display: inline !important;
    max-width: auto !important;
    padding: 0 !important;
    margin: 0 !important;
    overflow: visible !important;
    line-height: inherit !important;
    word-wrap: normal !important;
    background-color: transparent !important;
    border: 0 !important;
}

.markdown-body .csv-data td,
.markdown-body .csv-data th {
    padding: 5px !important;
    overflow: hidden !important;
    font-size: 12px !important;
    line-height: 1 !important;
    text-align: left !important;
    white-space: nowrap !important;
}

.markdown-body .csv-data .blob-num {
    padding: 10px 8px 9px !important;
    text-align: right !important;
    background: #ffffff !important;
    border: 0 !important;
}

.markdown-body .csv-data tr {
    border-top: 0 !important;
}

.markdown-body .csv-data th {
    font-weight: 600 !important;
    background: #f6f8fa !important;
    border-top: 0 !important;
}

.markdown-body .footnotes {
    font-size: 12px !important;
    color: #57606a !important;
    border-top: 1px solid #d0d7de !important;
}

.markdown-body .footnotes ol {
    padding-left: 16px !important;
}

.markdown-body .footnotes li {
    position: relative !important;
}

.markdown-body .footnotes li:target::before {
    position: absolute !important;
    top: -8px !important;
    right: -8px !important;
    bottom: -8px !important;
    left: -24px !important;
    pointer-events: none !important;
    content: "" !important;
    border: 2px solid #0969da !important;
    border-radius: 2px !important;
}

.markdown-body .footnotes li:target {
    color: #24292f !important;
}

.markdown-body .footnotes .data-footnote-backref g-emoji {
    font-family: monospace !important;
}

.markdown-body .task-list-item {
    list-style-type: none !important;
}

.markdown-body .task-list-item label {
    font-weight: 400 !important;
}

.markdown-body .task-list-item.enabled label {
    cursor: pointer !important;
}

.markdown-body .task-list-item + .task-list-item {
    margin-top: 3px !important;
}

.markdown-body .task-list-item .handle {
    display: none !important;
}

.markdown-body .task-list-item-checkbox {
    margin: 0 0.2em 0.25em -1.6em !important;
    vertical-align: middle !important;
}

.markdown-body .contains-task-list:dir(rtl) .task-list-item-checkbox {
    margin: 0 -1.6em 0.25em 0.2em !important;
}

.markdown-body ::-webkit-calendar-picker-indicator {
    filter: invert(50%) !important;
}
