/* You can add global styles to this file, and also import other style files */
@import "@angular/material/prebuilt-themes/purple-green.css";
@import "styles/global-var.scss";

mat-tab-group.mat-primary .mat-ink-bar,
.mat-tab-nav-bar.mat-primary .mat-ink-bar {
    background-color: $main-color !important;
}

* {
    font-family: $roboto-font !important;
    color: $black-color !important;
}

h1 {
    font-size: 55px !important;
    margin-bottom: 0px !important;
}

h2 {
    font-size: 35px !important;
    margin-bottom: 0px !important;
}

h3 {
    font-size: 25px !important;
    margin-bottom: 0px !important;
}

body {
    background-color: lightgray;
}

.bounds {
    background-color: white;
    .inner-bounds {
        background: rgb(255, 255, 255);
        background: linear-gradient(130deg, rgba(255, 255, 255, 1) 0%, rgba(0, 113, 123, 0.05) 50%, rgba(0, 113, 123, 0.05) 100%);
        padding: 3rem 0rem;
        width: 100%;
    }
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;

    max-width: 1440px;
    display: flex;
    flex-direction: row;
    margin: auto;
    margin-bottom: 30px;
}

.main-color {
    color: $main-color !important;
}
.black-color {
    color: $black-color !important;
}
.strong {
    font-weight: bold !important;
}
.italic {
    font-style: italic !important;
}

.header {
    font-weight: normal !important;
    margin-top: 0rem !important;
    line-height: 1em !important;
    display: flex;
    align-items: center;

    span:first-child {
        color: $black-color !important;
        letter-spacing: 0 !important;
        margin-right: 1rem;
    }
    span:last-child {
        color: $main-color !important;
        letter-spacing: 0 !important;
    }
}
.content {
    display: flex;
    flex-direction: column;
    flex: 1 1 100%;
    padding: 0rem 5rem;
}

.main-content {
    display: flex;
    flex: 1 1 100%;
    height: 100%;
    max-height: 70%;
    flex-direction: row;
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5rem;
    margin-bottom: 5rem;
    //
    min-height: 470px;
}

.footer {
    display: flex;
    flex: 1 1 100%;
    flex-direction: row;
    height: 100%;
    max-height: 60px;
    width: 100%;
    align-items: center;
    margin-top: 30px;
    
    #footer-contact {
        display: flex;
        flex-direction: row;
        flex: 1 1 100%;
        align-items: center;

        div .m-icon {
            width: 50px;
            min-width: 50px;
            height: 50px;
            min-height: 50px;
            display: block;
        }

        #m-contact {
            height: fit-content;
            margin-left: 10px;
            .sname {
                font-weight: 300;
            }
            .email {
                font-size: 20px !important;
                line-height: 1rem;
            }
        }
    }
    #footer-download-cv .download {
        height: 50px;
        min-height: 50px;
        width: 154px;
        min-width: 154px;
        border-radius: 13px 0 0 13px;
    }
}

/// ICON ==========================

.facebook {
    background-image: url("/assets/images/facebook.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.facebook:hover {
    background-image: url("/assets/images/facebook_hover.svg");
}

.linkedin {
    background-image: url("/assets/images/linkedin.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
.linkedin:hover {
    background-image: url("/assets/images/linkedin_hover.svg");
}
.github {
    background-image: url("/assets/images/github.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
.github:hover {
    background-image: url("/assets/images/github_hover.svg");
}
.cclaim {
    background-image: url("/assets/images/cclaim.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
.cclaim:hover {
    background-image: url("/assets/images/cclaim_hover.svg");
}
.gmail {
    background-image: url("/assets/images/email.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
.gmail:hover {
    background-image: url("/assets/images/email_hover.svg");
}
.download {
    background-image: url("/assets/images/download.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
.download:hover {
    background-image: url("/assets/images/download_hover.svg");
}

.note {
    background-image: url("/assets/images/note.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.down-arrow {
    width: 50px;
    min-width: 50px;
    height: 50px;
    min-height: 50px;
    opacity: 0.4;

    background-image: url("/assets/images/down-arrow.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.down-arrow:hover {
    opacity: 0.5;
}
.down-arrow:active {
    opacity: 0.7;
    background-image: url("/assets/images/down-arrow-click.svg");
}

.note-undone {
    width: 83px;
    min-width: 83px;
    height: 103px;
    min-height: 103px;

    background-image: url("/assets/images/note-undone.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.title-tooltip{
    font-size: 1rem;
    line-height: 1;
    min-width: 300px;
    color: white !important;
}

.normal-tooltip{
    font-size: 14px;
    line-height: 1.2;
    min-width: 450px;
    color: white !important;
}

@media screen and (max-width: 1279px) {
    .bounds {
        .content {
            padding: 0rem 0rem;
            .header {
                justify-content: center;
            }

            .main-content {
                flex-direction: column !important;
                align-items: center;
            }
        }
        .footer {
            justify-content: center;
            #footer-contact {
                max-width: fit-content;
                margin-right: 10px;
            }
        }
        .inner-bounds {
            background: #f3f8f9;
        }
    }
}

@media screen and (max-width: 539px) {
    // Content
    .bounds {
        .content {
            padding: 0rem 0rem;
            .header {
                flex-direction: column !important;
                span:first-child {
                    margin-right: 0px;
                }
            }
            .main-content {
                max-width: 95%;
                margin-left: auto;
                margin-right: auto;
            }
        }
        .footer {
            flex-direction: column-reverse;
            justify-content: center;
            min-height: 150px;
            #footer-contact {
                max-width: fit-content;
                margin-right: 0px;
                margin-bottom: 1rem;
                margin-top: 2rem;
            }
        }
    }
}

@import "styles/prism-coy-without-shadows.scss";
